mixin headMobile(image)
    div.head-mobile
        <svg viewBox="0 0 320 784" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <rect y="482" width="320" height="300" fill="url(#paint10_linear_gt)"/>
        <rect y="482" width="320" height="302" fill="url(#paint11_linear_gt)"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M320 0L-0.000479034 0.000152588C-0.000479034 163.502 -0.000194825 327.003 -0.000417999 490.505L133.948 567.833C153.08 578.878 184.099 578.878 203.231 567.833L319.999 500.423C320 296 320 120.5 320 0Z" fill="url(#pattern10_gt)"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M320 0L-0.000479034 0.000152588C-0.000479034 163.502 -0.000194825 327.003 -0.000417999 490.505L133.948 567.833C153.08 578.878 184.099 578.878 203.231 567.833L319.999 500.423C320 296 320 120.5 320 0Z" fill="#12193D" fill-opacity="0.6"/>
        <defs>
        <pattern id="pattern10_gt" patternContentUnits="objectBoundingBox" width="1" height="1">
        <image width="4096" height="2730" xlink:href="#{image}" transform="translate(-0.850602) scale(0.000659474 0.0003663)" />
        </pattern>
        <linearGradient id="paint10_linear_gt" x1="6.87158e-07" y1="656.3" x2="320.003" y2="655.999" gradientUnits="userSpaceOnUse">
        <stop stop-color="#4D59A1"/>
        <stop offset="0.515625" stop-color="#5DA5E8"/>
        <stop offset="1" stop-color="#48E4EE"/>
        </linearGradient>
        <linearGradient id="paint11_linear_gt" x1="166.833" y1="429.452" x2="166.833" y2="784" gradientUnits="userSpaceOnUse">
        <stop stop-color="white" stop-opacity="0"/>
        <stop offset="1" stop-color="white"/>
        </linearGradient>
        </defs>
        </svg>
