mixin headBack(image)
    div.head-desktop
        <svg viewBox="0 0 1920 1202" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <rect x="0.236328" y="600" width="1920" height="600" fill="url(#paint0_linear)"/>
        <rect y="600" width="1920" height="602" fill="url(#paint1_linear)"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920.24 0H0.236143V566.321L-8.65083 571.451C-27.783 582.496 -27.7831 600.403 -8.65093 611.448L176.983 718.615C196.115 729.66 227.134 729.66 246.266 718.615L429.271 612.966C448.403 601.921 479.422 601.921 498.554 612.966L742.749 753.94C761.881 764.985 792.9 764.985 812.032 753.94L884.995 711.818C904.127 700.773 935.147 700.773 954.279 711.818L1059.95 772.821C1079.08 783.866 1110.1 783.866 1129.23 772.821L1231.77 713.623C1250.91 702.578 1281.93 702.578 1301.06 713.623L1576.84 872.833C1595.97 883.878 1626.99 883.878 1646.13 872.833L2053.43 637.695C2072.56 626.65 2072.56 608.743 2053.43 597.698L1920.24 520.804V0Z" fill="url(#pattern0)"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920.24 0H0.236088V566.321L-8.65088 571.451C-27.783 582.496 -27.7831 600.403 -8.65099 611.448L176.983 718.615C196.115 729.66 227.134 729.66 246.266 718.615L429.271 612.966C448.403 601.921 479.422 601.921 498.554 612.966L742.749 753.94C761.881 764.985 792.9 764.985 812.032 753.94L884.995 711.818C904.127 700.773 935.146 700.773 954.279 711.818L1059.95 772.821C1079.08 783.866 1110.1 783.866 1129.23 772.821L1231.77 713.623C1250.91 702.578 1281.93 702.578 1301.06 713.623L1576.84 872.833C1595.97 883.878 1626.99 883.878 1646.13 872.833L2053.43 637.695C2072.56 626.65 2072.56 608.743 2053.43 597.698L1920.24 520.804V0Z" fill="#12193D" fill-opacity="0.6"/>
        <defs>
        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
        <image width="4096" height="2730" xlink:href="#{image}" transform="translate(0 -0.290766) scale(0.000244141 0.000579316)" />
        </pattern>
        <linearGradient id="paint0_linear" x1="0.236332" y1="948.6" x2="1920.24" y2="943.183" gradientUnits="userSpaceOnUse">
        <stop stop-color="#4D59A1"/>
        <stop offset="0.515625" stop-color="#5DA5E8"/>
        <stop offset="1" stop-color="#48E4EE"/>
        </linearGradient>
        <linearGradient id="paint1_linear" x1="1001" y1="495.252" x2="1001" y2="1202" gradientUnits="userSpaceOnUse">
        <stop stop-color="white" stop-opacity="0"/>
        <stop offset="1" stop-color="white"/>
        </linearGradient>
        </defs>
        </svg>
